nav {
    align-items: center;
    display: flex;
    padding: 22px 150px 18px 150px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
    position: sticky;
    z-index: 1;
}

.logo {
    width: 100px;
}

.label {
    margin: 0 35px 0 0;
    font-size: 26px;
    display: none;
}

#toggle {
    display: none;
}

.menu {
    font-family: proximaNova, "Helvetica Neue", sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    display: flex;
    text-transform: uppercase;
    margin-left: 35px;
}

.menu a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: block;
    color: #4f4f4f;
    margin: 0 25px;
}

.menu a:hover {
    transition: all 0.3s ease 0s;
    color: #3498DB;
}

.menu .active {
    color: #3498DB;
    font-weight: 500;
}

.LoginButton {
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
}

.logout {
    margin-left: 2rem;
}

@media only screen and (max-width: 1000px) {
    nav {
        margin: 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }

    .controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding-left: 30px;
        width: 120px;
    }

    #toggle {
        float: right;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .label {
        cursor: pointer;
        display: inline-block;
        text-align: right;
    }

    .menu {
        padding-top: 15px;
        margin-left: 0;
        display: none;
        text-align: center;
        width: 100%;
        line-height: 50px;
        clear: bottom;
    }

    .menu a {
        display: block;
        margin: 0;
        border-top: 1px solid #cccccc;
        clear: right;
    }

    .LoginButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 0 0;
        border-top: 1px solid #cccccc;
    }
}