nav {
    font-family: proximaNova, "Helvetica Neue";
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 25px 150px;
}

.logo {
    max-width: 100px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 25px;
}

.menu li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: block;
}

.menu li a:hover {
    transition: all 0.3s ease 0s;
    color: #aed3fb;
}