<!DOCTYPE html>
<html>
<head>
    <title>Travel+</title>
    <meta charset="utf-8"/>
</head>
<body>
    <header class="container">
        <div class="row">
            <a href="/">
                <img src="logo.png" alt="logo" height="60" width="150">
            </a>
            <nav class="col-sm-8 text-right">
                <p><a href="/">Home</a></p>
                <p><a href="requirement/visa">Visa requirements</a></p>
                <p><a href="requirement/immunisation">Immunisation requirements</a></p>
                <p><a href="tasks/">Task.js scheduler</a></p>
                <p><a href="alert_test">Travel alert map</a></p>
                <p><a href="forum/comment">Forum</a></p>
            </nav>
        </div>
    </header>
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>Travel+</h2>
                <h4>Travelling made easy</h4>
                <a class="btn btn-primary" role="button">Start now</a> <!-- add a href -->
            </div>
        </div>
    </section>
    <footer class="container">
        <div class="row">
            <p class="col-sm-4">&copy; 2020 Travel+</p>
            <p class="col-sm-8">INFO30005 project by Angelina Lim, Tianqi Zhou, Zhuo Lin Chai and Angela Theodora Nubary</p>
        </div>
    </footer>
</body>
</html>