<!DOCTYPE html>
<html>
<head>
    <title>Travel+</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' type='text/css'>
</head>
<body>
    <header class="container">
        <div class="row">
            <h1 class="col-sm-4">Travel+</h1>
            <nav class="col-sm-8 text-right">
                <p>Angelina Lim (997563)</p>
                <p>Tianqi Zhou (1015263)</p>
                <p>Zhuo Lin Chai (987804)</p>
                <p>Angela Theodora Nubary (1015796)</p>
            </nav>
        </div>
    </header>
    <section class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <h2>Travel+</h2>
                <h4>Here to help you with anything travel-related</h4>
                <a class="btn btn-primary" href="#" role="button">Start now</a>
            </div>
        </div>
    </section>
    <footer class="container">
        <div class="row">
            <p class="col-sm-4">&copy; 2020 Travel+</p>
        </div>
    </footer>
</body>
</html>
