.jumbotron {
    background-image: url("https://pics.freeartbackgrounds.com/Sky_with_Clouds_and_Airplane_Background-1482.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}