a:hover {
  color: #575757 !important;
}

a.nav-link,
a.navbarBrand {
  color: white !important;
}

/* Class Styles */

.appNavbar {
    background-color: rgb(74, 162, 197);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.bgColor {
  background-color: #ee4f2c !important;
}
.comment {
  list-style: none;
}
.commentBlock {
  margin-top: 1%;
}

.customBtn {
  background-color: white !important;
  color: black;
}

.customBtn.btn-secondary {
  color: black !important;
  border: none;
  font-size: 25px;
}

.customBtn.btn-secondary:hover {
  border-color: white;
}

.editBtn {
  float: right;
}

.editPostLink {
  color: "black";
}

.guestPage {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.guestPageTitle {
  font-size: 70px;
  margin-bottom: 100px;
}

.guestPagePara {
  font-size: 40px;
}

.navbar-text {
  color: white !important;
}

.newPostCol {
  text-align: right;
}

.postCardTitle {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.postDetailsTitle {
  font-size: 45px;
}

.topicTag {
  text-align: center;
  font-size: 12px;
  background-color: #cccccc;
  /* color: white; */
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  border-radius: 4px;
}

.topicOnDetailPage {
  text-align: center;
  font-size: 14px;
  width: 80px;
  background-color: #cccccc;
  color: black;
  border-radius: 4px;
}

/* media queries */
@media only screen and (max-width: 440px) {
  .editBtn {
    float: none;
  }

  .guestPageTitle {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .guestPagePara {
    font-size: 20px;
    width: 100%;
  }

  .newPostCol {
    text-align: left;
  }

  .postCardTitle {
    font-size: 19px;
  }

  .postDetailsTitle {
    font-size: 30px;
  }
}
