.Reqs {
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.CountryMenu{
    width: 200px;
    margin: auto;
}

.Footer {
    display: flex;
    font-weight: 200;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.visaRes {
    list-style: none;
    padding: 0;
    width: 30%;
    margin: auto;
}

.visaRes li {
    font-size: 1.3rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
}