.Reqs {
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.CountryMenu{
    width: 17%;
    margin: auto;
}

.Footer {
    display: flex;
    font-weight: 200;
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.result {
    list-style: none;
    padding: 0;
    width: 30%;
    margin: auto;
}