.alert_background {
    background-image: url("../../background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    color: black;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.alert_background h2 {
    font-size: 45px;
    font-weight: 200;
    color: floralwhite;
    margin: 15%;
}
.alert_background h3 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 15%;
}
.alert_background h4 {
    font-size: 20px;
    font-weight: 50;
    color: black;
}
.option_btn {
    position: fixed;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 250px; */
    background-color: white;
    border: none;
    color: black;
    padding: 20px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    cursor: pointer;
}
