.taskPage {
    background: #f7f7f7;
    height: 90vh;
}

.container {
    display: inline-grid;
    grid-gap: 10rem;
    padding-top: 5%;
    grid-template-columns: 1fr 1fr;
}

.addTask .button {
    border-radius: 2rem;
    padding: 0.5rem 2.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 0 5px 20px rgb(0,0,0,0.15);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-image: linear-gradient(to right, #3498DB 0%, #2CC2A4 100%);
    background-size: 170% auto;
}

.addTask .button:hover {
    background-position: right center;
    color: #fff;
}

.addTask, .taskList {
    width: 350px;
    background-color: white;
    min-height: 480px;
    justify-self: center;
    box-shadow: 0 0 20px rgb(0,0,0,0.15);
    text-align: center;
    border-radius: 0.5em;
    overflow: scroll;
}

.addTask header {
    padding-top: 2em;
}

.addTask div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem 3.5rem;
    font-size: 15px;
    color: #555;
}

#asterisk {
    font-weight: 500;
    color: red;
}

.addTask div label {
    padding-bottom: 0.5em;
}

.addTask header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    padding: 1.5em 0 0 0;
}

.addTask input {
    width: 100%;
    height: 2.1rem;
    line-height: 1.3em;
    background: #fafafa;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-size: 16px;
    color: #666;
    transition: all 0.4s ease;
    padding: 0 20px;
    outline: none;
    margin: 0;
    border: none;
}

.error {
    color: red;
    font-size: 13px;
}

.taskList header {
    margin: 0;
    padding: 0.8em 0;
    border-top: 1em solid;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    border-image: linear-gradient(to right, #3498DB 0%, #2CC2A4 100%);
    border-image-slice: 1;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: #fff;
}

.taskList footer {
    margin: 0;
    padding: .5em 0;
    background-color: #fff;
}

.taskList .task {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.taskList input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.taskList label {
    text-align: left;
    position: relative;
    display: block;
    padding: .75em 1em;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.taskList label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 25%;
    vertical-align: middle;
    margin-right: .6em;
}

.taskList label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #3498DB;
    transition: .3s ease-in-out;
}

.taskList label:hover::after {
    width: 5px;
}

.taskList label .fa-check{
    position: absolute;
    left: 1em;
    top: .6em;
    font-size: 1.2em;
    opacity: 0;
    color: #3498DB;
    transition: .3s ease-in-out;
}

.taskList input[type=checkbox]:checked + label .fa-check {
    opacity: 1;
}

.taskList .task label {
    position: relative;
    color: #2d3436;
    transition: .3s ease-in-out;
}

.taskList input[type=checkbox]:checked + label {
    color: #aaaaaa;
    text-decoration: line-through;
}

.taskList .details {
    margin: 0;
    font-size: 12px;
    color: #6d6d6d;
    display: flex;
    justify-content: space-between;
    padding: .6em 0 0 2.5em;
    line-height: 1.3em;
}

.fa-times {
    font-size: 24px;
    cursor: pointer;
    margin: 0 1em;
}

.fa-times:hover {
    color: red;
    transition: .2s ease-in-out;
}

.icons {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.fa-edit {
    font-size: 20px;
    cursor: pointer;
}

.fa-edit:hover {
    color: #00d22a;
    transition: .2s ease-in-out;
}

.Footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        padding-top: 5%;
        grid-gap: 5%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }

    .Footer {
        position: unset;
        margin-top: 15%;
    }

}