#body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-size: 0.8rem;
}

.container {
    display: inline-grid;
    grid-gap: 10rem;
    padding-top: 5%;
    grid-template-columns: 1fr 1fr;
}

input[type="date"], input[type="time"] {
    appearance: none;
    color: #95a5a6;
    border: 1px solid #ecf0f1;
    background:#ecf0f1;
    padding: 2px;
}

.addTask .button {
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 20px rgb(0,0,0,0.15);
    background: linear-gradient(270deg, rgba(57,174,242,1) 0%, rgba(62,194,183,1) 100%);
}

.addTask .button:hover {
    transition: all 0.3s ease 0s;;
    background-color: #3cb2ff;
    color: #fff;
}

.addTask, .taskList {
    width: 350px;
    /*background-color: #aed3fb;*/
    min-height: 470px;
    justify-self: center;
    box-shadow: 0 0 20px rgb(0,0,0,0.15);
    text-align: center;
    border-radius: 0.5em;
    overflow: scroll;
}

.addTask header {
    padding-top: 2em;
}

.addTask div {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 1.5rem 3.5rem;
    font-size: 14px;
}

#asterisk {
    font-weight: 500;
    color: red;
}

.addTask div input {
    width: 100%;
    height: 1.7rem;
}

.addTask div label {
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.taskList header {
    margin: 0;
    padding: 1em 0;
    border-top: 1em solid #3498DB;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: #fff;
}

.taskList footer {
    margin: 0;
    padding: .5em 0;
    background-color: #fff;
}

.taskList .task {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.taskList input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.taskList label {
    text-align: left;
    position: relative;
    display: block;
    padding: .75em 1em;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.taskList label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 25%;
    vertical-align: middle;
    margin-right: .6em;
}

.taskList label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #3498DB;
    transition: .3s ease-in-out;
}

.taskList label:hover::after {
    width: 5px;
}

.taskList label .fa-check{
    position: absolute;
    left: 1em;
    top: .6em;
    font-size: 1.2em;
    opacity: 0;
    color: #3498DB;
    transition: .3s ease-in-out;
}

.taskList input[type=checkbox]:checked + label .fa-check {
    opacity: 1;
}

.taskList .task label {
    position: relative;
    color: #2d3436;
    transition: .3s ease-in-out;
}

.taskList input[type=checkbox]:checked + label {
    color: #aaaaaa;
    text-decoration: line-through;
}

.taskList .details {
    margin: 0;
    font-size: 12px;
    color: #6d6d6d;
    display: flex;
    justify-content: space-between;
    padding: .6em 0 0 2.5em;
    line-height: 1.3em;
}

.fa-times {
    font-size: 24px;
    cursor: pointer;
    margin: 0 1em;
}

.fa-times:hover {
    color: red;
    transition: .2s ease-in-out;
}

.icons {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.fa-edit {
    font-size: 20px;
    cursor: pointer;
}

.fa-edit:hover {
    color: #00d22a;
    transition: .2s ease-in-out;
}

.Footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        padding-top: 5%;
        grid-gap: 5%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }

    .Footer {
        position: unset;
        margin-top: 15%;
    }

}